<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CalculadoraValerianoEmilia</title>
</head>
<body>
<h1>----------MENU CALCULADORA------------</h1>
<ul>
<li><a href="calculoSuma?num1=640&num2=30">Suma</a></li>
<li><a href="calculoResta?num1=980&num2=300">Resta</a></li>
<li><a href="calculoMultiplicacion?num1=44&num2=2">Multiplicacion</a></li>
<li><a href="calculoDivision?num1=184&num2=2">Division</a></li>
<li><a href="calculoPotencia?num1=6&num2=3">Potencia</a></li>
<li><a href="calculoRaiz?num1=225&num2=2">Raiz</a></li>
</ul>
</body>
</html>